<table>
    @using iLexStudio.IntercomServices.Models.Users;
    @using (var db = new LoginContexts())
    {
        foreach (var user in db.UserProfiles.ToList<UserProfile>())
        {
            <tr>
                <td>
                    @Html.ActionLink(user.UserName, "Index", "Account", new { AccountID = user.UserId }, null)
                </td>
            </tr>
        }
    }
</table>